{
    "extends": [
        "jr"
    ],
    "rules": {
        "no-console": 0,
        "indent": ["error", 2],
        "no-bitwise": 0
    },
    "globals": {
        "$",
        "jQuery",
        "chrome",
        "QRErrorCorrectLevel"
    }
}
